    <div class="top-wrapper">
    <header>
      <div class="heading">
        <h1 class="title">Make space for U</h1>
      </div>
      <div class='nav'>
      <ul class='nav-lists'>
      <% if user_signed_in? %>
        <li><%= link_to current_user.nickname, "#", class: "user-nickname" %></li>
        <li><%= link_to 'Sign out', "/users/sign_out", method: :delete, class: "sign-out" %></li>
      <% else %>
        <li><%= link_to 'Sign in', "/users/sign_in", class: "sign-in" %></li>
        <li><%= link_to 'Sign up', "/users/sign_up", class: "sign-up" %></li>
      <% end %>
        <li><%= link_to 'Enter', "/spaces/show", class: "enter-btn" %></li>
      </ul>   
      </div>
    </header>

    <div class="contents">
      <div class="first-view">
        <!-- 『トップメッセージ』を表示する -->
        <h2 class="heading-message">ここは、何かの『プロ』を目指す全ての方のための”Third place”</h2>
        <h2 class="heading-message">『おかえり』と、日々頑張っている心に声を掛けてあげられるように‥</h2>
        <h2 class="heading-message">優しい”スペース”を作って、同じ想いでいる仲間と語り合いませんか？</h2>  
      </div> 
      
      <div class="middle-content">  
        <ul class="image-list">
          <li>
            <%= image_tag '/programming-image.jpg', class: 'content-image' %>
            <h4 class="image-name">IT Engineer、30代、業務未経験</h4>
          </li>
          <li>
            <%= image_tag '/yoga-image.jpg', class: 'content-image' %>
            <h4 class="image-name">Yoga Instructor、資格取得中、質問歓迎</h4>
          </li>
          <li>
            <%= image_tag '/teacher-image.jpg', class: 'content-image' %>
            <h4 class="image-name">Teacher、中学英語、教育実習中</h4>
          </li> 
      </div>
        <!-- 『ボトムメッセージ』を表示する -->
          <ul class="messages">
          <li class="message">
            <div class="main-message">同じ道を歩む者どうしで本音で語り合いませんか？</div>
          </li>
          <li class="top-message">
            <div class="main-message">違う道を進む者どうし気づきを伝え合いませんか？</div>
          </li>
          <li class="message">
            <div class="main-message">必要なのはただ、”想いやりの言葉”と”飾らない心”だけ…</div>
          </li>
          <li class="lsat-message">
            <div class="last-message">Make space For U, So come back to You.</div>
          </li>
        </ul>  
      </div>

      <footer>
        <p>Copyright(C) Make space for U ALL RIGHTS RESERVED.</p>
      </footer>
    </div>
